<body ng-controller="ProductUpdateController">
    <div>
        <h4>Update  Product.</h4>
        <hr />
        <div class="validation-summary-valid text-danger" data-valmsg-summary="true">
            <ul>
                <li style="display:none"></li>
            </ul>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="ProductTitle">Title</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="ProductTitle" name="ProductTitle" type="text" ng-model="product.title" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="Brand">Brand</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="Brand" name="Brand" ng-model="product.brand" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label" for="Description">Description</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="Description" name="Description" ng-model="product.description" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Image">Image</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="Image" name="Image" ng-model="product.imageUrl" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="UnitPrice">UnitPrice</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="UnitPrice" name="UnitPrice" ng-model="product.unitPrice" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="Category">Category</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="Category" name="Category" ng-model="product.category" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" for="ConfirmPassword">Stock</label>
            <div class="col-md-10">
                <input class="form-control" data-val="true" id="Balance" name="Balance" ng-model="product.stock" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Update" ng-click="update(product)" />
            </div>
        </div>
    </div>
    </body>

 
 



