<div>
    <h1>Product List</h1>
 </div>

 
<a ng-href="#/productAdd">Create</a>
    <table>
        <thead>
            <tr>
                <th>ProductId</th>
                <th>Title</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="prod in products">
                <td>{{prod.productId}}</td>
                <td>{{prod.tilte}}</td>
                <td><img ng-src={{prod.imageUrl}} /></td>
                <td><a ng-href="#/productDetail/{{prod.productId}}" />Details | &nbsp;</td>
                <td><a ng-href="#/productUpdate/{{prod.productId}}" />Edit |&nbsp;</td>
                <td><a ng-href="#/productDelete/{{prod.productId}}" />Delete |&nbsp;</td>
                          
        </td>
             <tr>
        </tbody>
    </table>

    